Repository carlocorradini/filmy: changes, and which lint-staged commands are due for each by the changed paths.
All: ./node_modules/.bin/prettier --write, ./node_modules/.bin/eslint

.lintstagedrc:

{
  "**/*.{ts,json}": [
    "./node_modules/.bin/prettier --write",
    "git add"
  ],
  "**/*.ts": [
    "./node_modules/.bin/eslint",
    "git add"
  ]
}

test hooks
  .huskyrc
  .lintstagedrc
  .prettierignore
  package.json
Due: ./node_modules/.bin/prettier --write

testing
  .gitattributes
  .huskyrc
  package.json
Due: ./node_modules/.bin/prettier --write

testing.
  .huskyrc
  .lintstagedrc
  package.json
  src/app.ts
Due: ./node_modules/.bin/prettier --write, ./node_modules/.bin/eslint

testing ..
  package.json
  src/app.ts
Due: ./node_modules/.bin/prettier --write, ./node_modules/.bin/eslint

testing ...
  package.json
Due: ./node_modules/.bin/prettier --write

testing ....
  .huskyrc
  package.json
  src/app.ts
Due: ./node_modules/.bin/prettier --write, ./node_modules/.bin/eslint

Testing .....
  .gitattributes
  src/app.ts
Due: ./node_modules/.bin/prettier --write, ./node_modules/.bin/eslint

test
  .lintstagedrc
  .vscode/settings.json
  README.md
  package.json
  src/app.ts
  tsconfig.json
Due: ./node_modules/.bin/prettier --write, ./node_modules/.bin/eslint

dd
  .lintstagedrc
  package.json
  src/app.ts
Due: ./node_modules/.bin/prettier --write, ./node_modules/.bin/eslint

Testing
  .huskyrc
  src/app.ts
Due: ./node_modules/.bin/prettier --write, ./node_modules/.bin/eslint

ss
  .huskyrc
  package-lock.json
  package.json
  src/app.ts
Due: ./node_modules/.bin/prettier --write, ./node_modules/.bin/eslint

well
  .lintstagedrc
  src/app.ts
Due: ./node_modules/.bin/prettier --write, ./node_modules/.bin/eslint

well
  .lintstagedrc
Due: none

Well it works without colors
  .lintstagedrc
Due: none

Finishedgit add .!
  .eslintignore
  .eslintrc
  .gitignore
  .lintstagedrc
  .vscode/extensions.json
  jest.config.js
  package-lock.json
  package.json
  src/app.test.ts
  tsconfig.json
Due: ./node_modules/.bin/prettier --write, ./node_modules/.bin/eslint

Testing husky
  .lintstagedrc
  jest.config.js
  package.json
  src/app.ts
Due: ./node_modules/.bin/prettier --write, ./node_modules/.bin/eslint

Logging System
  .gitignore
  package-lock.json
  package.json
  src/app.ts
  src/logger.ts
Due: ./node_modules/.bin/prettier --write, ./node_modules/.bin/eslint

Changed Logger
  package-lock.json
  package.json
  src/app.ts
  src/config.ts
  src/logger.ts
Due: ./node_modules/.bin/prettier --write, ./node_modules/.bin/eslint

Added Winston Logger
  package-lock.json
  package.json
  src/app.ts
  src/logger.ts
Due: ./node_modules/.bin/prettier --write, ./node_modules/.bin/eslint

Performance for ESlint
  .eslintignore
  .eslintrc
  .lintstagedrc
  .prettierignore
  nodemon.json
  src/app.ts
  src/logger.ts
Due: ./node_modules/.bin/prettier --write, ./node_modules/.bin/eslint

Added Build and copy assets methods
  .gitignore
  package-lock.json
  package.json
  src/app.ts
  src/logger.ts
  src/public/images/wizard.png
  src/routes/index.ts
  src/server/index.ts
  src/views/index.njk
  tools/build.ts
  tsconfig.json
Due: ./node_modules/.bin/prettier --write, ./node_modules/.bin/eslint

Better Structure
  src/app.ts
  src/routes/index.ts
  src/routes/user.ts
  src/server/index.ts
  tsconfig.json
Due: ./node_modules/.bin/prettier --write, ./node_modules/.bin/eslint

Better Structure
  .eslintrc
Due: none

Better Structure
  src/app.ts
Due: ./node_modules/.bin/prettier --write, ./node_modules/.bin/eslint

Added Favicon
  package-lock.json
  package.json
  src/app.ts
  src/public/favicon.ico
Due: ./node_modules/.bin/prettier --write, ./node_modules/.bin/eslint

Added more recommendations
  .vscode/extensions.json
Due: ./node_modules/.bin/prettier --write

Fix
  package.json
  src/app.ts
Due: ./node_modules/.bin/prettier --write, ./node_modules/.bin/eslint

Changed README
  README.md
Due: none

Update README.md
  README.md
Due: none

Aggiunto membro Miraxh Tereziu
  README.md
Due: none

Added README with carlocorradini member
  README.md
Due: none

aggiunta Miraxh Tereziu
  README.md
Due: none

Cancellazione readme master
  README.md
Due: none
